body{
  font-family: 'Raleway', sans-serif;
}
.navbar-light .navbar-nav .nav-link{  
  color: #518384;
  font-weight: bold;
  margin-right: 50px;
}
.form-control{
  color: #518384;
  border: 3px solid #518384;
  border-radius: 25px;
  background: #F6F5F5;
}
.bg-light{
  background: #F6F5F5;
}
.navbar-brand img{
  height: 74px; 
  width: 340px;
}

.carousel-item > img{
  height: 600px;
}
.blue{
  background: #356067;
  border-color: #356067;
}
.darkBlue{
  background: #33514A;
  border-color: #33514A;
}
.btn-group-lg>.btn, .btn-lg{
  font-weight: bold;
}

#about{
  padding-top: 5%;
}

#about h1{
  font-weight: 700;
  color: #518384;
  font-size: 3rem;
}
#about p{
  font-weight: bold;
  color: #518384;
  font-size: 1.5rem;
  margin-top: 3rem;
}
@media (max-width: 576px) {
  .navbar-brand img{
    height: 40px; 
    width: 200px;
  }
}

.carbox {

}