{% extends 'pages/base.html'%}
{% load static %}
{% block content %}
<div class="container" id="about">
    <h1 class="text-center">About</h1>
    <p>Mobil termurah is the best place to find cheap cars to rent. 
       Be it for your business trips, holidays, or even wedding, we have all kind of cars
       that you might need at the best price.</p>
    <p>This startup is founded in the study room at building C, fasilkom by Ray, Harold, Sarah, and Munir.
       It was made for the group assignment for Web Design and Programming course in 2020.
    </p>
</div>

{% endblock %}