<!-- Page for viewing cars/searching for cars -->
{% extends 'pages/base.html'%}
{% load static %}
{% block content %}
<title>Cars</title>
<div class="container">
    <div class="row">
      <div class="col-sm-3">
        <!-- sidebar -->
      </div>
      <div class="col-sm-9">
        <div class="box">

        </div>
      </div>
    </div>
  </div>
{% endblock %}