{% extends 'pages/base.html'%}
{% load static %}
{% block content %}
<div id="landingCarousel" class="carousel slide mt-2" data-ride="carousel">
    <div class="container">
        <ol class="carousel-indicators">
            <li data-target="#landingCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#landingCarousel" data-slide-to="1"></li>
            <li data-target="#landingCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100 img-fluid" src="{%static 'img/toyota-agya.jpg'%}" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100 img-fluid" src="{%static 'img/toyota-avanza.jpg'%}" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100 img-fluid" src="{%static 'img/mazda-2.jpg'%}" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#landingCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#landingCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    </div>
  </div>

  <div class="buttons container mt-4 mb-4">
      <div class="row">
          <div class="col-6 text-center">
            <a href="" class="btn btn-primary btn-lg blue">Rent a Car Now!</a>
          </div>
          <div class="col-6 text-center">
            <a href="" class="btn btn-primary btn-lg darkBlue">Rent Your Car Now!</a>
          </div>
      </div>
      
     
  </div>
{% endblock %}